<%= render "navbar" %>

<div class="container">
  <div class="row">
  <h1>Kopi</h1>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kopi</th>
      <th scope="col">Roast</th>
      <th scope="col">Origin</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @kopis.each_with_index do |k, i| %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= link_to k.name, kopi_path(k) %></td>
        <td><%= k.roast %></td>
        <td><%= k.origin.location %></td>
        <td><%= k.origin.phone %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>